.mapLabels {
    font-size: 10px;
    text-align:center;
    text-shadow:#ffffff 1px 0 0,#ffffff 0 1px 0,#ffffff -1px 0 0,#ffffff 0 -1px 0;
}

.mapLabels img{
    width: 15px;
    height: 15px;
}

@media screen {
    .mapLabels .pubPoints img {
        width: 25px;
        height: 25px;
        -webkit-border-radius: 25px;
        border: 2px #a72525 solid;
    }
}


.floorsUI, .testButton
{
    position: absolute;;
    list-style: none;
    padding: 0;
    left: 0px;
}

.floorsUI{
    top:100px;
}

.testButton{
    top: 500px;
}

.floorsUI li, .testButton li{
    max-width: 100px;
    padding: 10px;
    background-color: #e8e8e8 ;
    border: 1px solid #bbbbbb;
    text-align: center;
}

.floorsUI .selected{
    background-color: #cccccc !important;
}